body, html {
    height: 100%;
    margin: 0;
  }
.home_page_body
{
    
    background-image:url('background.jpg');
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
}

.div_search{
    /*border: 1px solid black;*/
    margin-top: 150px;
    height: 110px;
    width: 600px;
}

.legend{
    font-size: 80px;
    text-align: center;
   
}

.btn{
    color: #17a2b8;
    font-size:20px;
    float: right;
    padding: 4px 15px;
    outline: none !important;
    
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.btn:hover {
    background-color: lightgrey
}

.div_form_show_button{
    /*border: 1px solid black;*/
    height: 50px;
    width: 300px;
}


.div_form_lat_long{
    /*border: 1px solid black;*/
    width: 650px;
    height: 60px;
    position: relative;
}

.div_name_form{
    /*border: 1px solid black;*/
    height: 60px;
    width: 300px;
    position: absolute;
    top: 370px;
    right: 500px;
    
}

.div_image_display{
    /*border: 1px solid black;*/
    height: 40px;
    width: 700px;
    margin-top: 15px;

}
.div_image_result{
    /*border: 1px solid black;*/
    margin-top: 10px;
    height: 250px;
    width: 600px;
}

.div_image_result label{
    font-size: 12px;
}
img{
    width:100px;
    height:100px;
    padding:10px;
    background-color: whitesmoke;
}


#fav_p{
    margin: 0px 0px 2px;
    font-size: 11px;
}
.content {
    background-color:whitesmoke;
    padding: 2px;
}

.column {
    float: left;
    padding: 2px;
   
}


.div_prev_next{
    /*border: 1px solid black;*/
    height: 40px;
    width: 300px;
}
.div_prev_next p{
    font-size: 10px;
}
.div_prev_next button{
    font-size: 15px;
}

.div_no_photos{
    /*border: 1px solid black;*/
    height: 80px;
    width: 400px;
}
.div_no_photos button{
    font-size: 15px;
    position: absolute;
    padding-left: 120px;
}
.div_no_photos h3{
    font-size: 15px;
    padding-left: 130px;
}
.div_no_photos p{
    font-size: 15px;
}

.p_error{
    color: red;
    margin-left: 180px;
}


@media screen and (max-width: 800px) {
    .legend{
        font-size: 30px;
    }
    .btn{
        font-size:10px;
    }
    .div_search{
        height: 40px;
        width: 300px;
    }
    .div_form_show_button{
        height: 30px;
        width: 200px;
    }
    .div_form_lat_long{
        width: 200px;
        height: 130px;
    }
    .div_name_form{
       
        height: 75px;
        width: 250px;
        position: absolute;
        top: 280px;
        left: 60px;
        
    }
    .form_name_submit{
        margin-left: 18px;
        
    }
    .div_image_display{
        height: 20px;
        width: 350px;
        margin-top: 15px;
        text-align: center;
    }
    .div_image_display p{
        font-size: 10px;
        padding-left: 80px;
        
    }    
    .div_image_result{
        margin-top: 10px;
        height: 550px;
        width: 250px;
    }
    .div_image_result p{
        font-size: 10px;
        padding-left: 40px;
    }
    .div_prev_next{
       
        height: 40px;
        width: 200px;
    }
    .div_prev_next button{
        font-size: 15px;
    }

    .div_no_photos{
        
        height: 40px;
        width: 250px;
    }
    .div_no_photos button{
        font-size: 10px;
        position: absolute;
        padding-left: 40px;
        
    }
    .div_no_photos h3{
        font-size: 10px;
        padding-left: 50px;
    }
    .div_no_photos p{
        font-size: 10px;
    }
    .p_error{
        color: red;
        margin-left: 10px;
    }
    
}


