<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% load url_change %}
{% block body_block %}

    <body class='home_page_body'>
         <link rel="stylesheet" href="{% static 'css/home.css' %}">
         
        <strong  class="row justify-content-md-center" style="padding-left: 20px">
                    Showing your favourite photos
        </strong>
        <div id="photos" >
            
            <div class="row justify-content-md-center">
                
                    {% if photo_urls %}

                        {% for photo in photo_urls %}
                            <div class="column">
                                <div class="content">
                                    <a target="_blank" href={{ photo.photo_url }} style="padding: 5px">
                                        <img src={{ photo.photo_url|url_change }} alt="not found" style="width:150px">
                                    </a>
                                </div>
                            </div>
                        {% endfor %}

                    {% else %} 
                        <p> No photos available </p>
                    {% endif %}
            </div>
        </div>
                
{% endblock %}
