<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block body_block %}
    <body class="bg-light text-dark home_page_body">

        <link rel="stylesheet" href="{% static 'css/home.css' %}">

        <div class="container div_search">
            <p  class="legend" ><strong>Search Image</strong></p>
        </div>

        <div class="container div_form_show_button">
            <button id="btn_name" type="button" class="btn btn link " onclick="show_name_form()" >By Name </button>
            <button id="btn_lat" type="button" class="btn btn link " onclick="show_long_lat_form()">By Lat-Long </button>
        </div>

        <div class="container div_form_lat_long" id="div_form_lat_long">
            <form class="form-inline" id='form_lat_long'  method="POST">
                {% csrf_token %}
                <div class="form-group mx-sm-3 mb-2">
                    <input type="number" step='0.0001' class="form-control" name="latitude" placeholder="Latitude" required>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <input type="number" step='0.0001' class="form-control" name="longitude" placeholder="Longitude" required>
                </div>
                <button type="submit" class="btn btn-outline-info mb-2">Submit</button>    
            </form>
        </div>

        <div class="container div_name_form" id="div_form_name">
            <form id='form_name' class="form-inline"   method="POST" >
                {% csrf_token %}
                {% if place_list %}
                    <div class="form-group col-md-7">
                        <select name='options' class="btn btn-secondary  dropdown-toggle option_class form-control" >
                            {% for rec in place_list %}
                                <option  value={{ rec.place_name }}>{{ rec.place_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}
                <button type="submit" class="btn btn-sm btn-outline-info  form_name_submit">Submit</button>
            </form>
            
        </div>

        <div class="container div_image_display">
            {% if error %}
                <h7 class="p_error">{{error}} </h7>
            {% endif %}
            {% if photo_urls %}
                <p class="row justify-content-md-center" >
                    Showing Results for Lat : &nbsp  <strong style='color: #17a2b8'> {{lat}} &nbsp </strong>  , Long :&nbsp <strong style='color: #17a2b8'>{{long}}</strong>
                </p>
            {% endif %}
        </div>

        <div class="container div_image_result">
            <p id="message" class="row justify-content-md-center" style="color:green"></p>
            
            {% if photo_urls %}
                <p class="row justify-content-md-center" style="color: darkcyan;" >Click on the image to view original image</p>
                {% for photo in photo_urls %}
                    <div class="column">
                        <div class="content">
                            <a target="_blank" href={{ photo }}>
                                <img src={{ photo }} alt="not found">
                            </a>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id={{photo}} onclick="add_to_fav( '{{photo}}' )">
                                    <label class="custom-control-label" for="{{photo}}">Add to fav</label>
                                </div>
                        </div>
                    </div>
                {% endfor %}
            
                <div class='container div_prev_next'>
                    <button id="button_next" type="button" class="btn btn link " onclick="next_page({{page_no}}, {{lat}}, {{long}}, 'next')" >next </button>

                    {% if page_no != 1 %}
                        <button id="button_next" type="button" class="btn btn link" onclick="next_page({{page_no}}, {{lat}}, {{long}}, 'prev')" >prev </button>
                    {% endif %}
                </div>
            {% else %}

                {% if photoSearch %}
                    {% if page_no != 1 %}
                        <div class='container div_no_photos'>
                            <p class="row justify-content-md-center" >
                                Showing Results for Lat : &nbsp  <strong style='color: #17a2b8'> {{lat}} &nbsp </strong>  , Long :&nbsp <strong style='color: #17a2b8'>{{long}}</strong>
                            </p>

                            <h3> No more photos</h3>
                            <button id="button_next" type="button" class="btn btn link" onclick="next_page({{page_no}}, {{lat}}, {{long}}, 'prev')" >Go to previous page </button>
                        </div>
                    {% else %}
                        <div class='container div_no_photos'>
                            <p class='row justify-content-md-center'> No photos available for 
                                 Lat : &nbsp  <strong style='color: #17a2b8'> {{lat}} &nbsp </strong>  , Long :&nbsp <strong style='color: #17a2b8'>{{long}}</strong>
                            </p>
                             
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>


        <script src="{% static 'javascript/form_switch.js' %}"> </script>
        
        <script>
            function next_page(page_no, lat, long, value){
                if (value === "next"){
                    var new_page_no = page_no + 1
                }
                else{
                    var new_page_no = page_no - 1
                }
            

                $.ajax({
                    type: "POST",
                    url: '{% url 'home' %}',
                    data: {
                            'page_no': new_page_no,
                            'latitude': lat,
                            'longitude': long
                        },
                    beforeSend: function(request) {
                        let nextObj = $('input[name="csrfmiddlewaretoken"]').attr('value');
                        request.setRequestHeader('content_type', "application/json")
                        request.setRequestHeader("X-CSRFToken", nextObj)
                    },
                    success: function(data){
                        document.body.innerHTML = ''
                        document.write(data)    
                    }
                })
        }
        
        function add_to_fav(url){
            var checkBox = document.getElementById(url);

            if (checkBox.checked == true){
                $.ajax({
                    type: "POST",
                    url: '{% url 'add_favourite_photos' %}',
                    data: {
                            'url': url,
                            'action': 'add'
                            },

                    beforeSend: function(request) {
                        let addToFavObj = $('input[name="csrfmiddlewaretoken"]').attr('value');
                        request.setRequestHeader('content_type', "application/json")
                        request.setRequestHeader("X-CSRFToken", addToFavObj)
                    },
                    success: function(){
                        document.getElementById("message").innerHTML =""
                        document.getElementById("message").innerHTML = "Added to favourite successfully"
                    },
                    error: function(){
                        alert("Something went wrong")
                    }
                })
            }

            if (checkBox.checked == false){
                $.ajax({
                    type: "POST",
                    url: '{% url 'remove_favourite_photos' %}',
                    data: {
                            'url': url,
                            'action': 'remove'
                            },
                    beforeSend: function(request) {
                        let removeFromFavObj = $('input[name="csrfmiddlewaretoken"]').attr('value');
                        request.setRequestHeader('content_type', "application/json")
                        request.setRequestHeader("X-CSRFToken", removeFromFavObj)
                    },
                    success: function(){
                        document.getElementById("message").innerHTML ="Removed from favourite successfully"
                        
                    },
                    error: function(){
                        alert("Something went wrong")
                    }
                })

            }
        }
 
      </script> 
    </body>
{% endblock %} 
